/* ==UserStyle==
@name           Dark - Jimdo Support Console
@namespace      github.com/openstyles/stylus
@version        1.0.2
@description    DarkMode for the support console
@author         Dennis Markmann
@advanced color primary-color "Primary Color" #00828c
@advanced color secondary-color "Secondary Color" #005469
@advanced color background-color "Background Color" #191a1a
@advanced color background-secondary-color "Secondary Background Color" #2e3131
@advanced color accent "Accent Color" #42A5F5
@advanced color accent-2 "Accent Color 2" #5A5CCC 

@advanced color contrast-100 "Contrast Color 100" hsl(0, 0%, 100%)
@advanced color contrast-80 "Contrast Color 80" hsl(0, 0%, 80%)
@advanced color contrast-50 "Contrast Color 50" hsl(0, 0%, 50%)
@advanced color contrast-40 "Contrast Color 40" hsl(0, 0%, 40%)


==/UserStyle== */

@-moz-document domain("console.jimdo-platform.net"), domain("console-stable.jimdo-platform.net") {   
    body {
        background-color: /*[[background-color]]*/;
    }    
    
    .MuiPaper-root {
        color: /*[[contrast-100]]*/;
        background-color: /*[[background-secondary-color]]*/;
    }
    
    .MuiCardHeader-root {
        background: /*[[secondary-color]]*/;
    }
    
    .MuiLinearProgress-colorSecondary {
        background-color: /*[[primary-color]]*/;
    }
    
    .MuiLinearProgress-barColorSecondary {
        background-color: /*[[secondary-color]]*/;
    }
    
    .MuiButton-root.Mui-disabled {
        color: /*[[contrast-40]]*/;
    }
    
    a:link {
        color: /*[[accent]]*/
    }
    
    a:visited {
        color: /*[[accent-2]]*/
    }
    
    .MuiDivider-root {
        background-color: /*[[contrast-40]]*/;
    }
    
    .MuiTypography-colorTextSecondary {
        color: /*[[contrast-50]]*/;
    }
    
    .MuiButton-root {
        color: /*[[contrast-80]]*/;
    }
    
    .MuiButton-outlined {
        border: 1px solid /*[[contrast-40]]*/;
    }
    
    .MuiIcon-colorDisabled {
        color: /*[[contrast-100]]*/;
    }
    
    .MuiSelect-icon,
    .MuiListItemIcon-root {
        color: /*[[contrast-50]]*/;
    }
    
    .MuiInput-underline:before {
        border-bottom: 1px solid /*[[contrast-40]]*/;
    }
    
    .MuiSvgIcon-colorDisabled {
        color: /*[[contrast-50]]*/;
    }
    
    .MuiInputBase-input {
        color: /*[[contrast-100]]*/
    }
    
    .MuiIconButton-root {
        color: /*[[contrast-80]]*/;
    }
    
    .MuiSwitch-track {
        background-color: /*[[contrast-80]]*/;
    }
    
    .MuiSwitch-colorSecondary.Mui-disabled + .MuiSwitch-track {
        background-color: /*[[contrast-80]]*/;
    }
    
    .MuiInput-underline:hover:not(.Mui-disabled):before {
        border-bottom: 2px solid /*[[contrast-80]]*/;
        border-bottom-color: /*[[contrast-80]]*/;
    }
    
    .MuiIconButton-root.Mui-disabled {
        color: /*[[contrast-40]]*/;
    }
    
    .MuiButton-contained {
        background-color: /*[[contrast-40]]*/;
    }
    
    .MuiFormHelperText-root {
        color: /*[[contrast-50]]*/;
    }
    
    .MuiTableCell-head,
    .MuiTableCell-body {
        color: /*[[contrast-80]]*/;
    }
    
    .MuiTypography-colorInherit,
    .jss13 {
        color: /*[[contrast-40]]*/;
    }
}
